 <div class="box box-default " id="">
	<div class="box-header with-border">
        <h3 class="box-title"><b>View Projects</b></h3>
          <div class="box-tools pull-right">
            <a href="#/users/add_new"><button class="btn btn-block btn-primary btn-sm">
          <i class="fa fa-plus"></i>
            <!-- Add New -->
          </button></a>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
    <div class="box-body" style="display: block;">
     
    <div ng-init="get_users()"  >
    <!-- <button ng-click="showMe();">click</button> -->

		<table class="table table-stripped table-bordered table-hover"  ng-table="users">
			<tbody>
				<tr ng-repeat="user in $data">
					<td title="'First Name'" filter="{fname:'text'}" sortable="'fname'">{{user.fname | uppercase}}</td>
					<td title="'Middle Name'" filter="{mname:'text'}" sortable="'mname'">{{user.mname}}</td>
					<td title="'Last Name'" filter="{lname:'text'}" sortable="'lname'">{{user.lname}}</td>
					<td title="'Email'" filter="{email:'text'}" sortable="'email'">{{user.email}}</td>
					<td title="'Phone No.'" filter="{phone:'number'}" sortable="'phone'">{{user.phone}}</td>
					<td title="'Action'" ><a href="#/users/edit/{{user.id}}"><img src="{{settings.ASSETS}}images/edit.png" alt="edit"></a></td>
                    
	                

				</tr>
			</tbody>
			
		</table>
    </div>
    

   </div>
  </div>


